[submodule "3rd-party/glfw"]
	path = 3rd-party/glfw
	url = https://github.com/glfw/glfw
[submodule "3rd-party/glm"]
	path = 3rd-party/glm
	url = https://github.com/g-truc/glm
[submodule "3rd-party/glad"]
	path = 3rd-party/glad
	url = https://github.com/Dav1dde/glad
[submodule "3rd-party/assimp"]
	path = 3rd-party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rd-party/NFDriver"]
	path = 3rd-party/NFDriver
	url = https://github.com/spotify/NFDriver.git
[submodule "3rd-party/rectpack2D"]
	path = 3rd-party/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
